{% extends "index.html" %}


{% block content %}
    <h1>Search</h1>
        <form class="form-search">
          <input id="search" type="text" class="input-large search-query">
        </form>
        <div class="search-results">
          <div class="search-results__items"></div>
        </div>
  <script src="{{ get_url(path="js/search.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="elasticlunr.min.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="search_index.en.js", trailing_slash=false) | safe }}"></script>
{% endblock content %}

